@charset "UTF-8";

@font-face {
    font-family: "planteles";
    src:url("fonts/planteles.eot");
    src:url("fonts/planteles.eot?#iefix") format("embedded-opentype"),
    url("fonts/planteles.woff") format("woff"),
    url("fonts/planteles.ttf") format("truetype"),
    url("fonts/planteles.svg#planteles") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "planteles" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-font-"]:before,
[class*=" icon-font-"]:before {
    font-family: "planteles" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-font-user:before {
    content: "\61";
}
.icon-font-users:before {
    content: "\62";
}
.icon-font-book:before {
    content: "\63";
}
.icon-font-bookmark:before {
    content: "\64";
}
.icon-font-book-close:before {
    content: "\65";
}
.icon-font-graduation-cap:before {
    content: "\66";
}
.icon-font-android:before {
    content: "\67";
}
.icon-font-briefcase:before {
    content: "\68";
}
.icon-font-calendar-check-o:before {
    content: "\69";
}
.icon-font-calendar-o:before {
    content: "\6a";
}
.icon-font-check:before {
    content: "\6b";
}
.icon-font-copy:before {
    content: "\6d";
}
.icon-font-cloud-upload:before {
    content: "\6e";
}
.icon-font-cloud-download:before {
    content: "\6f";
}
.icon-font-comment:before {
    content: "\70";
}
.icon-font-exclamation-circle:before {
    content: "\72";
}
.icon-font-external-link:before {
    content: "\73";
}
.icon-font-file:before {
    content: "\74";
}
.icon-font-facebook:before {
    content: "\75";
}
.icon-font-file-pdf-o:before {
    content: "\76";
}
.icon-font-file-powerpoint-o:before {
    content: "\77";
}
.icon-font-file-text:before {
    content: "\78";
}
.icon-font-file-image-o:before {
    content: "\79";
}
.icon-font-file-word-o:before {
    content: "\7a";
}
.icon-font-folder:before {
    content: "\41";
}
.icon-font-floppy-o:before {
    content: "\42";
}
.icon-font-lock:before {
    content: "\43";
}
.icon-font-share-square-o:before {
    content: "\45";
}
.icon-font-tachometer:before {
    content: "\46";
}
.icon-font-trash:before {
    content: "\48";
}
.icon-font-twitter:before {
    content: "\49";
}
.icon-font-user-plus:before {
    content: "\4a";
}
.icon-font-user-delete:before {
    content: "\4b";
}
.icon-font-users-1:before {
    content: "\4c";
}
.icon-font-pencil:before {
    content: "\4d";
}
.icon-font-torso:before {
    content: "\4e";
}
.icon-font-file-add:before {
    content: "\50";
}
.icon-font-newspaper-o:before {
    content: "\4f";
}
.icon-font-pen:before {
    content: "\51";
}
.icon-font-gallery:before {
    content: "\52";
}
.icon-font-picture:before {
    content: "\44";
}
.icon-font-upload-cloud:before {
    content: "\54";
}
.icon-font-folder-open:before {
    content: "\47";
}
.icon-font-vcard:before {
    content: "\56";
}
.icon-font-config:before {
    content: "\57";
}
.icon-font-camera:before {
    content: "\58";
}
.icon-font-money:before {
    content: "\59";
}
.icon-font-check-square-o:before {
    content: "\6c";
}
.icon-font-files:before {
    content: "\53";
}
.icon-font-align-justify:before {
    content: "\5a";
}
.icon-font-dollar:before {
    content: "\30";
}
.icon-font-dollar-bill:before {
    content: "\31";
}
.icon-font-newspaper:before {
    content: "\32";
}
.icon-font-cogs:before {
    content: "\33";
}
.icon-font-tasks:before {
    content: "\34";
}
.icon-font-wrench:before {
    content: "\35";
}
.icon-font-archive:before {
    content: "\36";
}
.icon-font-bug:before {
    content: "\37";
}
.icon-font-calendar-minus-o:before {
    content: "\38";
}
.icon-font-calendar-plus-o:before {
    content: "\39";
}
.icon-font-calendar-times-o:before {
    content: "\21";
}
.icon-font-check-square:before {
    content: "\22";
}
.icon-font-credit-card:before {
    content: "\23";
}
.icon-font-exclamation-triangle:before {
    content: "\24";
}
.icon-font-file-archive-o:before {
    content: "\25";
}
.icon-font-file-text-o:before {
    content: "\26";
}
.icon-font-files-o:before {
    content: "\27";
}
.icon-font-leanpub:before {
    content: "\28";
}
.icon-font-line-chart:before {
    content: "\29";
}
.icon-font-location-arrow:before {
    content: "\2a";
}
.icon-font-pencil-square-o:before {
    content: "\2b";
}
.icon-font-times-circle:before {
    content: "\2c";
}
.icon-font-paperclip:before {
    content: "\2d";
}
.icon-font-address-book:before {
    content: "\2e";
}
.icon-font-page-export-doc:before {
    content: "\2f";
}
.icon-font-phone:before {
    content: "\3a";
}
.icon-font-envelope:before {
    content: "\71";
}
.icon-font-key:before {
    content: "\3b";
}
.icon-font-male-female:before {
    content: "\3c";
}
.icon-font-back-in-time:before {
    content: "\3d";
}
.icon-font-calendar:before {
    content: "\3e";
}
.icon-font-eye:before {
    content: "\3f";
}
.icon-font-download:before {
    content: "\40";
}
.icon-font-page-search:before {
    content: "\55";
}
.icon-font-credit-cards:before {
    content: "\5b";
}